[packages]
aiohttp = "~=3.9"
asyncpg = "~=0.29"
aws-xray-sdk = "*"
pglast = "*"
pydantic = "~=2.7"
pyhumps = "~=3.8"
redis = "*"
types-redis = "*"
watchdog = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
ruff = "*"
twine = "*"

[scripts]
server = "python example/server.py"
tidy = "bash -cxe 'isort . && black . && ruff .'"
# python3 -m build
upload = "twine upload dist/*"

[requires]
python_version = "3.12"
